[submodule "BehaviorTree.CPP"]
	path = BehaviorTree.CPP
	url = https://github.com/lucvt001/BehaviorTree.CPP.git
[submodule "BehaviorTree.ROS2"]
	path = BehaviorTree.ROS2
	url = https://github.com/lucvt001/BehaviorTree.ROS2.git
[submodule "position_filter"]
	path = position_filter
	url = https://github.com/lucvt001/position_filter.git
[submodule "tuper_btcpp"]
	path = tuper_btcpp
	url = https://github.com/lucvt001/tuper_btcpp.git
[submodule "formation_controller"]
	path = formation_controller
	url = https://github.com/lucvt001/formation_controller.git
[submodule "arduagent"]
	path = arduagent
	url = https://github.com/lucvt001/arduagent.git
[submodule "monitoring"]
	path = monitoring
	url = https://github.com/lucvt001/monitoring.git
